---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Trusted by our amazing community</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <a
        href="https://brady.mystl.ink"
        class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
      >
        <img
          src="https://img.mystl.ink/profile_pics/045e7ae571c9dd5775d59ea3d3bf6570de681658_profile.png"
          width="500"
          height="500"
          alt="bradyyy"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </a>
      <a
        href="https://thewarship.mystl.ink"
        class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
      >
        <img
          src="https://img.mystl.ink/profile_pics/7b6808583505dfc3cbeeec88d527627abf2eb0c3_profile.png"
          width="500"
          height="500"
          alt="thewarship"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </a>
      <a
        href="https://bongo1986.mystl.ink"
        class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
      >
        <img
          src="https://s6.imgcdn.dev/vjeO2.png"
          width="500"
          height="500"
          alt="bongo1986"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </a>
    </div>
  </Container>
</section>
